<table border="1" cellspacing="0">
    <tr><th colspan="2">Product</th></tr>
    <tr><td><b>Sub Category</b></td><td><select ng-model="categoryIdSelected" ng-options="subCategory.Id as subCategory.Name for subCategory in subCategories"></select> </td></tr>
    <tr><td><b>name</b></td><td><input ng-model="Product" type="text" /> </td></tr>
    <tr><td colspan="2" align="center"><input type="button" ng-click="add()" value="Add SubCategory" class="button" /></td></tr>
</table>

<br />
<br />



<a ui-sref="unauth.products" ui-sref-active="active">Back To Products</a>