<table border="1" cellspacing="0">
    <tr><th colspan="2">Edit SubCategory</th></tr>
    <tr><td><b>Id</b></td><td><span>{{editSubCatId}}</span></td></tr>
    <tr><td><b>CategoryId</b></td><td><select ng-model="categoryIdEdit" ng-options="category.Id as category.Name for category in categories"></select> </td></tr>
    <tr><td><b>name</b></td><td><input ng-model="editSubCatName" type="text" /> </td></tr>
    <tr><td colspan="2" align="center"><input type="button" ng-click="update()" value="Update SubCategory" class="button" /></td></tr>
</table> 


<br />
<br />



<a ui-sref="unauth.subcategories" ui-sref-active="active">Back To SubCategories</a>